registration.db
excel
logs
venv
*pycache*
.idea
miran/media
*.sqlite3
*.md
*.pyc
__pycache__
__init__
*.crt
*.key
.github
*.sql

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
/env
